<div class="layui-layout layui-layout-admin" style="margin-top: 20px;">
    <div style="margin: 10px 0px">
        <blockquote class="layui-elem-quote">
            说明：提交之前请先测试服务器资源是否可以连通
        </blockquote>
    </div>
    <form class="layui-form" action="" method="post">

        <div class="layui-form-item">
            <label class="layui-form-label mw200">类别名称</label>
            <div class="layui-input-inline mw400">
                <input type="text" name="name" id="name" lay-verify="required" autocomplete="off"
                       placeholder="类别名称（信审）" class="layui-input" value="">
            </div>
            <div class="layui-form-mid layui-word-aux"></div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label mw200">类别编码</label>
            <div class="layui-input-inline mw400">
                <input type="text" name="code" id="code" lay-verify="required" autocomplete="off"
                       placeholder="类别编码（approve）" class="layui-input" value="">
            </div>
            <div class="layui-form-mid layui-word-aux"></div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label mw200">备注</label>
            <div class="layui-input-inline mw400">
                <input type="text" name="remark" id="remark" lay-verify="required" autocomplete="off"
                       placeholder="备注描述" class="layui-input" value="">
            </div>
            <div class="layui-form-mid layui-word-aux"></div>
        </div>

        <input type="hidden" name="id" id="id" value="0">
        <div class="layui-form-item">
            <label class="layui-form-label mw200"></label>
            <div class="layui-input-inline mw400">
                <button class="layui-btn" lay-submit="" lay-filter="sub">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>

                <button class="layui-btn layui-btn-primary" id="test" lay-filter="test">测试</button>
            </div>
        </div>
    </form>
</div>
<script>
    var $;
    layui.use(['form', 'element', 'layer', 'jquery'], function () {
        var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
        var $ = layui.jquery;

        var error_info = "{{.flash.error}}";
        if (error_info) {
            layer.msg(error_info, {icon: 2, shade: 0.3}, function () {
                window.history.go(-1)
            })
            return;
        }
        form.on('submit(sub)', function (data) {
            var form_data = $("form").serialize();
            $.post('{{urlfor "ConfigTypeController.AjaxSave"}}', form_data, function (out) {
                if (out.status == 0) {
                    layer.msg("操作成功", {icon: 1, shade: 0.3, time: 1000}, function () {
                        // window.history.go(-1)//
                        window.parent.deleteCurrentTab();
                    })
                } else {
                    layer.msg(out.message)
                }
            }, "json").error(function () {
                layer.msg("系统异常,连接失败！")
                return false;
            });
            return false;
        });


        $("#test").on('click', function (data) {
            layer.load();
            var form_data = $("form").serialize();
            $.post('{{urlfor "ConfigTypeController.AjaxTestServer"}}', form_data, function (out) {
                layer.closeAll('loading');
                layer.msg(out.message)
            }, "json").error(function () {
                layer.msg("系统异常,连接失败！")
                layer.closeAll('loading');
                return false;
            });
            return false;
        });

        //但是，如果你的HTML是动态生成的，自动渲染就会失效
        //因此你需要在相应的地方，执行下述方法来手动渲染，跟这类似的还有 element.init();
        form.render();
    });
</script>