<div class="layui-layout layui-layout-admin" style="padding-left: 20px;">
    <div class="layui-row" style="margin-top: 20px;">
        <div class="layui-col-xs6">
            <button class="layui-btn layui-btn-blue" data-type="tabDel" id="tabSave">新增</button>
            <button class="layui-btn layui-btn-yellow" data-type="tabDel" id="tabEdit">编辑</button>
            <button class="layui-btn layui-btn-danger" data-type="tabDel" id="tabDel">批量删除</button>
        </div>
        <div class="layui-col-xs6 search_text">
            <form class="layui-form" action="" onsubmit="javascript:return false;">
                <div class="demoTable">
                    <div class="layui-inline">
                        <input class="layui-input" name="name" id="name" autocomplete="off"  placeholder="键名称模糊查询" >
                    </div>
                    <div class="layui-inline">
                        <input class="layui-input" name="value" id="value" autocomplete="off"  placeholder="值名模糊查询" >
                    </div>
                    <div class="layui-inline">
                        <select name="categoryId" lay-verify="required">
                            <option value="">全部</option>
                        {{range $k, $v := .productGroup}}
                            <option value="{{$k}}">{{$v}}</option>
                        {{end}}
                        </select>
                    </div>
                    {{/*
                      <div class="layui-inline" style="width: 20%;text-align: left">
                        <select name="status" lay-filter="status">
                            <option value="9">全部</option>
                            <option value="1">正常</option>
                            <option value="0">删除</option>
                        </select>
                    </div>

                     */}}

                    <button class="layui-btn" data-type="reload" id="reload">查询</button>
                </div>
            </form>
        </div>
    </div>

    <table class="layui-hide" id="table_list" lay-filter="table_filter">
    </table>
</div>
<script>
    layui.use(['table', 'form', 'element'], function () {
        var table = layui.table;

        var error_info = "{{.flash.error}}";
        if (error_info) {
            layer.msg(error_info, {icon: 2, shade: 0.3}, function () {
                window.history.go(-1)
            })
            return;
        }

        //方法级渲染
        table.render({
            elem: '#table_list'
            , url: "/configinfo/table"
            , cols: [[
                {checkbox: true, fixed: true}
                // ,{field:'id', title: 'ID', align:'center',sort: true, width:150}
                , {field: 'category_name', title: '类别名称', align: 'center', width: 180}
                , {field: 'name', title: '键名称', width: 150}
                , {field: 'value', title: '值名称'}
                , {field: 'remark', title: '备注',width: 180}
                , {field: 'create_time', width: 180, title: '添加时间'}
            ]]
            , id: 'listReload'
            , page: true
            , height: "full-130"
        });

        // 搜索
        var $ = layui.$, active = {
            reload: function () {
                table.reload('listReload', {
                    where: {
                        categoryId: $("select[name=categoryId]").val(),
                        name: $("#name").val(),
                        value: $("#value").val()
                    }
                });
            }
        };

        // 新增
        $("#tabSave").on("click",function() {
            window.parent.openTab("/configinfo/add",'新增配置',"admin_config_add-0",'fa-plus');
        });

        // 编辑
        $("#tabEdit").on("click",function() {
            var checkStatus = table.checkStatus('listReload');
            var data = checkStatus.data;
            if (data.length != 1) {
                layer.msg("请选择一条操作数据");
                return
            }
            window.parent.openTab("/configinfo/edit?id="+data[0].id,data[0].name+'编辑',"admin_config_edit-"+data.id,'fa-edit');
        });


        $("#tabDel").on("click", function (obj) {
            var checkStatus = table.checkStatus('listReload');
            var data = checkStatus.data;
            if (data.length < 1) {
                layer.msg("请选择操作数据");
                return
            }
            layer.confirm('是否确认删除选中项', {icon: 3, title: '提示'}, function (index) {
                //do something

                var ids = "";
                $.each(data, function (k, v) {
                    ids += v.id + ",";
                });
                ids = ids.substr(0, ids.length - 1)
                $.post('/configinfo/ajaxdel', {ids: ids}, function (out) {
                    if (out.status == 0) {
                        layer.msg("操作成功", {icon: 1, shade: 0.3, time: 1000}, function () {
                            $('#reload').click();
                        })
                    } else {
                        layer.msg(out.message)
                    }
                }, "json").error(function () {
                    layer.msg("系统异常,连接失败！")
                    return
                });

                layer.close(index);
            });

            return;

        })



        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });

</script>